pandas==1.4.3
numpy==1.22.4
matplotlib==3.5.2
seaborn==0.11.2
scikit-learn==1.1.1
scipy==1.8.1
yfinance==0.1.70
statsmodels==0.13.2
nltk==3.7
wordcloud==1.8.1
Pillow==9.1.1
joblib==1.1.0
torch==1.11.0
sentence-transformers==2.2.2
sklearn-extra==0.2.0
multiprocessing-logging==0.3.1